
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Ubuntu", sans-serif;
  color: #272829;
}

a {
  color: #8D1856;
}

a:hover {
  color: #8D1856;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
}

h6{
  font-size: 17px;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #c24234;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #A92012;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #A92012;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;
  }
  .nav-menu a span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  background: #A92012;
}

.nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span, .nav-menu li:hover > a span {
  display: block;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #A92012;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero3 {
  width: 100%;
  height: 70vh;
  background: url("../img/bg6.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}



.herobox{
  background-color: #A92012;
  background-position: center;
  height: 70vh;
  line-height: 2rem;
 
  background-size: cover;
  padding: 3rem;
  padding-top: 5rem;
  padding-bottom: 4rem;
  opacity: 0.9;
  text-align: center;
  color: white;
}

.navbar-nav {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #A92012 !important;
}

.navbar-nav  .nav-item .nav-link{
  padding-left: 1.4rem;
  color: #A92012 !important;
}

.navbar-nav  .nav-item .nav-link:hover{
  color: #db3522 !important;
}

.modal-body .navbar-nav  .nav-item .nav-link:hover{
  background-color: #A92012;
  color: #fff !important;
  transition: 350ms;
}

.img4{
  height: 60px;
}

.img5{
  width: 500px;
  height: 400px;
  padding: 4rem;
  
}

.img6{
  width: 300px;
}

.img7{
  width: 200px;
}

.box1{
 background-color: #f8f8f8;
 padding: 3rem;
 padding-top: 4.4rem;
 letter-spacing: .5px;
}


.box2{
  background-color: #A92012;
  padding: 3.5rem;
  color: #fff;
  letter-spacing: .3px;
 }

 .box3{
  padding: 3.5rem;
  padding-top: 6rem;
  letter-spacing: .5px;
 }

 .box4{
  background-color: #f8f8f8;
  padding: 3.5rem;
  padding-top: 6rem;
  letter-spacing: .5px;
 }

 .box5{
  background-color: #be2d1d;
  padding: 3.5rem;
  padding-top: 6rem;
  letter-spacing: .5px;
  color: #fff;
 }

.btn-main{
  margin-top: 4rem;
  display: block;
  background-color: #fff;
  /*transition: 450ms; */
  color: #A92012 ;
  padding: 12px;
  text-align: center;
  border-radius: 40px ;
  letter-spacing: .5px;
}


.btn-main:hover{
  background-color: #8a1b0f;
  transition: 250ms; 
  color: #fff ;
}


.btn-pay{
  margin-top: 2rem;
  display: block;
  background-color: #A92012;
  /*transition: 450ms; */
  color: #fff ;
  padding: 14px;
  width: 60%;
  text-align: center;
  border-radius: 40px ;
  letter-spacing: .5px;
}

.btn-pay:hover{
  background-color: #8a1b0f;
  transition: 250ms; 
  color: #fff ;
}

.counts{
  background:#f1f7fd;
  padding: 70px 30px 60px 30px;
}

.counts .count-box{
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #A92012;
  border-radius: 20px;
}

.counts .count-box i{
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size:35px;
  background: #c73424;
  padding: 12px;
  color: #fff;
  border-radius:50%;
}

.counts .count-box p{
  color: #fff;
}


.counts .count-box span{
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #fff;
}


.country-btn{
  background-color: #A92012;
  width: auto;
  color: #fff !important;
  display: block;
  height: auto;
  margin-left: 1.4rem;
}

.img1{
  float: right; 
  margin-left:10px; 
  margin-top: 2px;
}

.services{
  padding: 50px 30px 50px 30px;
}

.btn-primary{
 border-radius: 70px;
 background-color: #A92012;
 border:#A92012;
}

.btn-primary:hover{
  background-color: #8a1b0f;
  transition: 250ms; 
  color: #fff ;
}


@media (max-width: 600px) {
  .btn-main {
  margin-bottom: 4rem;
  }

  .country-btn{
    background-color: #A92012;
    width: 160px;
    color: #fff !important;
    display: block;
  }

  .img1{
    float: right; 
    margin-left:0px; 
    margin-top: 2px;
    margin-right: .5rem;
  }

  .services .card{
    padding-bottom: 1rem !important;
  }

  .btn-pay{
    margin-top: 5rem;
    
    background-color: #A92012;
    /*transition: 450ms; */
    color: #fff ;
    padding: 14px;
    width: auto;
    text-align: center;
    border-radius: 40px ;
    letter-spacing: .5px;
  }

  .herobox{
    height: 100vh;
    opacity: 0.9;
    text-align: center;
    color: white;
  }
 
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/


.section-title {
  text-align: center;
  padding-bottom: 2px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #A92012;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #A92012;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #A92012;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #A92012;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #A92012;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #A92012;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #A92012;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #A92012;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #1B6736;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #A92012;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  padding: 0;

}

#footer a {
  color:#fff;

}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #A92012;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #A92012;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}
